.transaction-item-container {
  border: 0.1rem solid #cbd5e1;
  border-top: none;
  padding: 0.5rem 1rem;
  margin-top: -1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto';
}

.transaction-title {
  /* margin-right: 5vw; */
  width: 8vw;
}

.transaction-detail {
  width: 3vw;
  /* margin-left: 3vw; */
}

.transaction-title,
.transaction-detail {
  color: #334155;
  font-size: 1rem;
  text-align: left;
}

.transaction-delete-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: inherit;
  margin-right: 1rem;
}

.delete-icon-img {
  height: 1.5rem;
  width: 1.5rem;
}
