.money-details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.money-details-item-container {
  width: 30%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.money-details-img {
  height: 4rem;
  width: 4rem;
}

.money-details-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.money-detail-text,
.amount-text {
  color: #475569;
}

.money-detail-text {
  font-size: 1rem;
}

.amount-text {
  font-size: 2rem;
}
